<!-- UWAGA templates/registration/login.html -->
{% extends 'front/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="col-lg-7">
  <div class="ibox">
    <div class="ibox-content" style>
      <div class="row">
          <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Zaloguj się</h3>
          <p>Zaloguj się dla większej ilości pomiarów !</p>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button class="btn btn-sm btn-primary float-right m-t-n-xs" type="submit"><strong>Log in</strong></button>
              <div class="form-check abc-checkbox form-check-inline m-l-md">
                <input class="form-check-input" type="checkbox" value="option1">
                <label class="form-check-label"> Zapamiętaj mnie </label>
              </div>
            </form>
          </div>
        <div id="rejestracja">
          <div class="col-sm-6"><h4>NIe masz konta?</h4>
            <p>Możesz stworzyć konto:</p>
            <p class="text-center">
              <a href=""><i class="fa fa-sign-in big-icon"></i></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock   %}
