<!-- templates/front/kokpit.html -->
{% extends 'front/raw.html' %}
{% block title%}Kokpit{% endblock %}
{% block authenticated %}
   <div class="ibox">
      <div class="ibox-title">
         <h5>
            "Panele do obejrzenia"
         </h5>
      </div>
   </div>
   <div class="ibox-content" style>
      <div class="col-sm-4 col-sm-offset-2">
             <a href="/front/organizacje/" class="btn btn-w-m btn-success">Twoje organizacje</a>
             <a href="/front/pomiary/" class="btn btn-w-m btn-success">Twoje pomiary</a>
      </div>
   </div>

{% endblock authenticated %}