<!-- templates/front/organizacje.html -->
{% extends 'front/base.html' %}

{% block title %} Organizacje {% endblock %}

{% block content %}

<button type="button" class="btn-primary btn-sm"
        onclick="document.getElementById('demo').innerHTML = Date()">Click me to display Date and Time</button>
<button type="button" onclick="changeParagraph()">Try it change paragraph</button>
<button type="button" onclick="refreshPage()">Refreh Page</button>
<p id="demo"></p>
<p id="paragraphId">A Paragraph.</p>

<p id="hideclick">If you click on me, I will disappear.</p>

<table id="mytable" class="table table-bordered">
    <thead>
    <tr>
        <th>#id</th>
        <th>Nazwa</th>
        <th>Opis</th>
        <th>Szczegóły</th>
        <!-- <th>User</th> ZAPEWNE DO DODANIA W PRZYSZLOSCI -->
    </tr>
    </thead>
</table>
{% load static %}
<script src='{% static "js/organizacje.js" %}' type="text/javascript"></script>

{% endblock %}