<!-- templates/front/organizacja_detail.html -->
{% extends 'front/raw.html' %}
{% load static %}
{% block title %} Organizacja szczegóły {% endblock %}
{% block authenticated %}
  {{ block.super }}
  <!--   authenticated - organizacja_detail.html-->
  <div class="ibox">
    <div class="ibox-title">
      <h5>
        "Organizacja - Edycja"
        <small>Możliwosc edycji danych.</small>
      </h5>
    </div>
    <div class="ibox-content" style>
      <form id="form_edycjaorg" method="put">
        {% csrf_token %}
        <div class="form-group  row">
          <label class="col-sm-2 col-form-label">Nazwa</label>
          <div class="col-sm-10">
            <input id="nazwa_organizacji" type="text" class="form-control">
          </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group  row">
          <label class="col-sm-2 col-form-label">Opis</label>
          <div class="col-sm-10">
            <input id="opis_organizacji" type="text" class="form-control">
          </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group  row">
          <div class="col-sm-4 col-sm-offset-2">
            <button class="btn btn-white btn-sm" type="submit">Anuluj</button>
            <button class="btn btn-primary btn-sm" type="submit">Zapisz zmiany</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock authenticated %}
{% block scripts %}
  {% if user.is_authenticated %}
    {{ block.super }}
    <!-- scripts - organizacja_detail.html -->
    <script src='{% static "js/organizacja_detail.js" %}' type="text/javascript"></script>
  {% endif %}
{% endblock scripts %}