<!-- templates/front/organizacje.html -->
{% extends 'front/base.html' %}

{% block title %} Organizacje {% endblock %}

{% block content %}
{% if organizacje_list %}
    <ul>
    {% for organizacja in organizacje_list %}
         <li><a href="/front/organizacje/{{ organizacja.id }}">
             nazwa:{{organizacja.nazwa}} opis:{{organizacja.opis}}
         </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Brak organizacji w bazie danych</p>
{% endif %}

<div>
<button class="btn-primary btn-sm">Click Me</button>
</div>
<button type="button" class="btn-primary btn-sm"
        onclick="document.getElementById('demo').innerHTML = Date()">Click me to display Date and Time</button>
<button type="button" onclick="changeParagraph()">Try it change paragraph</button>
<button type="button" onclick="refreshPage()">Refreh Page</button>
<p id="demo"></p>
<p id="paragraphId">A Paragraph.</p>



<div id="jsonresp" style="margin-top: 100px"</p>
    <p><label>Nazwa Organizacji: :</label> <span id="nazwa"></span></p>
    <p><label>Opis Organizacji: :</label> <span id="opis"></span></p>
</div>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>#id</th>
        <th>Nazwa</th>
        <th>opis</th>
        <th>User</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
    </tr>
    </tbody>
</table>
{% load static %}
<script src='{% static "js/organizacje.js" %}' type="text/javascript"></script>

{% endblock %}