<!-- templates/front/organizacje.html -->
{% extends 'front/base.html' %}

{% block title %} Organizacje {% endblock %}

{% block content %}
{% if organizacje_list %}
    <ul>
    {% for organizacja in organizacje_list %}
         <li><a href="/front/organizacje/{{ organizacja.id }}">
             nazwa:{{organizacja.nazwa}} opis:{{organizacja.opis}}
         </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Brak organizacji w bazie danych</p>
{% endif %}

<div>
<button class="btn-primary btn-sm">Click Me</button>
</div>
<button type="button" class="btn-primary btn-sm"
        onclick="document.getElementById('demo').innerHTML = Date()">Click me to display Date and Time</button>

<p id="demo"></p>

<div id="jsonresp" style="margin-top: 100px"</p>
    <p><label>Nazwa Organizacji: :</label> <span id="nazwa"></span></p>
    <p><label>Opis Organizacji: :</label> <span id="opis"></span></p>
</div>
    <script type="text/javascript"></script>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>#id</th>
        <th>Nazwa</th>
        <th>opis</th>
        <th>User</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
    </tr>
    </tbody>
</table>

<script>

    var URL= "/api/";

    $(document).ready(
     function() {
       $("#organizacje").hide();
     }
    );

    function getOrganizacje()
    {
      $.getJSON(URL,{},showOrganizacja);
    }

    function getCourser()
    {
     $.getJSON(URL + $("#code").val())
     .done(showOrganizacja) //on sucess - 200
     .fail(function() // on failure - 404
        {
          alert("Sorry! Organizacja Not found!");
        }
    }

    function showOrganizacja(organizacja)
    {
      $("#id").val(organizacja.id)
      $("#nazwa").val(organizacja.nazwa)
      $("#opis").val(organizacja.opis)
    }

    function showOrganizacja(organizacje)
    {
      $("organizacjarows").html("")
      $.each(organizacje,
         function(idx, organizacja) {
           $("#organizacjarows").append(
           "<tr><td>" + organizacja.id + "</td>><td>" +
           organizacja.nazwa + "</td><td>" +
           organizacja.opis + "</td><td>");
         } //anonymous function
      ); //each()

      $("#organizacje".show();
    } //showOrganizacje

    function addOrganizacja()
    {
      $.ajax(
       { "url": URL,
         "data": {
               "nazwa" : $("#nazwa").val(),
               "opis" : $("#opis").val()
         }
       }
      )
    }

    function add_success()
    {
     alert("Added organizacje Successfully");
    }

    function add_error()
    {
     alert("Could not add organizacja!");
    }

    function deleteOrganizacja()
    {
     $.ajax(
      { "url": URL + $("#nazwa").val(),
        "type": "delete",
        "success" : delete_success,
        "error" : delete_error
      }; //ajax()
    }

    function delete_success()
    {
     alert("Deleted Organizacja Successfully");
    }

    function delete_error()
    {
     alert("Could not delete Organizacja'!");
    }

    function updateCourse()
    {
       $.ajax(
          {  "url"     : URL + $("#opis").val() + "/",
             "data"    : { "nazwa"     : $("#nazwa").val(),
                           "opis"    : $("#opis").val(),
                          },
             "type"    : "put",
             "success" : update_success,
             "error"   : update_error
          }
      ); // ajax()
    }

    function update_success()
    {
      alert("Updated Course Successfully");
    }

    function update_error()
    {
      alert("Could not update Course!");
    }

    $( document ).ready(function() {
        console.log(window.location.href)
        var url = new URL(window.location.href);
        var organizacja = url.searchParams.get("organizacja");
        console.log("organizacja:" + organizacja);
        console.log("Window on load end");
        $.ajax({
            url: "/api/zlecenie/"+ancestor+"/zlecone_badania",
            type:"GET",
        }).done(function (response) {
            for(i=0; i<response.length; i++){
                console.log(response[i].id)
               $('#mytable tbody').append(
                '<tr>' +
                    '<td>' + response[i].id + '</td>' +
                    '<td>' + response[i].nazwa + '</td>' +
                    '<td>' + response[i].opis + '</td>' +
                    '<td><button id="btn_organizacja" + response[i].id'" class="btn btn-w-m btn-success" onclick="buttonFunction(this)"
                    data-id="'+response[i].id+'">Utwórz badanie</button>+ '</td>+
                '</tr>');
            }
        })
    });

    function buttonFunction(obj){
      console.log("button function!")
    }

</script>

{% endblock %}