<!-- templates/front/pomiary_detail.html -->
{% extends 'front/raw.html' %}
{% load static %}
{% block title %} Pomiar szczegóły {% endblock %}
{% block authenticated %}
  {{ block.super }}
  <!-- authenticated - organizacja_nowy.html -->
  <div class="ibox">
    <div class="ibox-title">
      <h5>
        "Pomiar - Nowy"
        <small>  Możliwosc dodania danych.  </small>
      </h5>
    </div>
    <div class="ibox-content" style>
      <form id="form_zapis_pomiar" method="post">
        {% csrf_token %}
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">czyWażny</label>
          <div class="col-sm-10">
            <input id="czyWazny" type="text" class="form-control">
          </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Wartość</label>
          <div class="col-sm-10">
            <input id="wartosc" type="text" data-id_org="das" class="form-control">
          </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Data pomiaru</label>
          <div class="col-sm-10">
            <input id="data_pomiaru" type="text" data-id_org="das" class="form-control">
          </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group  row">
          <div class="col-sm-4 col-sm-offset-2">
            <!--<a href="/front/organizacje/" class="btn btn-white btn-sm">Anuluj</a> -->
            <button id="ZapiszPomiary" type="submit" class="btn btn-primary btn-sm">Zapisz pomiar w bazie</button>
          </div>
        </div>
      </form>
    </div>
  </div>

{% endblock authenticated %}
{% block generate_revers_url %}
  {{ block.super }}
  <!-- generate_revers_url - front/organizacja_detail.html-->
  var revers_urls = {
    url_home: "http://127.0.0.1:8000",
    front_pomiar: "{% url 'front:pomiary' %}",
    api_v1_pomiar: "{% url 'api_v1:pomiar-list' %}"
  }
  function get_urls(){
    return revers_urls
  }
{% endblock generate_revers_url %}
{% block scripts %}
  {% if user.is_authenticated %}
    {{ block.super }}
    <!-- scripts - organizacja.html -->
    <script src='{% static "js/pomiar_nowy.js" %}' type="text/javascript"></script>
  {% endif %}
{% endblock scripts %}