<!-- templates/front/raw.html -->
{% extends 'front/base.html' %}

{% block content %}

  {% if user.is_authenticated %}
      {% include 'front/leftPanel.html' %}
      {% block authenticated %}
      {% endblock authenticated %}
  {% else %}
      {% block unauthenticated %}
    <div class="ibox-content" style>
           <p>Nie jesteś zalogowany!</p>
           <a href="{% url 'logout' %}" class="btn btn-w-m btn-success">Zaloguj się !</a>
    </div>
      {% endblock unauthenticated %}
  {% endif %}

{% endblock content %}